<!DOCTYPE html>
<html>
  <head>
    <title>Python Instructor</title>
    <!-- Markdown -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <!-- Highlight.js (ONLY ONCE) -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/highlight.js@11.9.0/styles/github-dark.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/highlight.js@11.9.0/lib/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highlight.js@11.9.0/lib/languages/python.min.js"></script>

    <!-- Code Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />

    <!-- Your CSS -->
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="app">
      <!-- SIDEBAR -->
      <div class="sidebar">
        <button onclick="newChat()">➕ New Chat</button>
        <button onclick="location.href='/history-all/'">📜 View History</button>
        <button class="danger" onclick="deleteAll()">🗑 Delete All</button>

        <div class="history">
          {% for c in conversations %}
          <div
            class="chat-item {% if active and c.id == active.id %}active{% endif %}"
          >
            <a href="/?c={{ c.id }}">{{ c.title }}</a>
            <span onclick="deleteChat('{{ c.id }}')">✖</span>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- CHAT -->
      <div class="chat-area">
        <div id="messages" class="messages">
          {% for m in messages %}
          <div class="{{ m.role }}">{{ m.content|linebreaks }}</div>
          {% endfor %}
        </div>

        {% if active %} {% include "/chat_input.html" %} {% endif %}
      </div>
    </div>

    <script src="/static/chat.js"></script>
    <footer class="app-footer">
      <span>© 2026 Python Instructor Chatbot</span>
      <span class="footer-right"> Created by Harsh </span>
      <span class="footer-right"> Built with ❤️ using Python Django </span>
    </footer>
  </body>
</html>
